@model Shindig
<div class="jumbotron">
    <h1>Dojo Activity Center</h1>
</div>

<h2>Create An Activity</h2>
<form action="create" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" />
        <label>Time</label>
        <input type="text" name="ShindigTime" class="form-control" />
        <label>Date</label>
        <input type="text" name="ShindigDate" class="form-control" />
        <label>Duration</label>
        <input type="text" name="duration" class="form-control" />
        <label>Description</label>
        <input type="text" name="description" class="form-control" />

        <label>Event Date</label>
        <input type="text" name="ShindigDate" class="form-control" />

            <label>Event duration</label>
        
        <input type="text" name="ShindigTime" class="form-control" />
        
        <input type="text" name="ShindigDate" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success" />
</form>