
@model User
<div class="jumbotron">

</div>
<h2>Register</h2>

<form action="register" method="post">
    <div class="form-group col-sm-6">
        <label>Name</label>
        <span asp-validation-for="Name"></span>
        <input type="text" name="Name" class="form-control" />
    
    </div>
    <div class="form-group col-sm-6">
        <label>Email</label>
        <span asp-validation-for="Email"></span>
        <input type="text" name="Email" class="form-control" />
    
    </div>
        <div class="form-group col-sm-6">
        <label>Password</label>
        <span asp-validation-for="Password"></span>
        <input type="password" name="Password" class="form-control" />
        <label>Confirm</label>
        <span asp-validation-for="Confirm"></span>
        <input type="password" name="Confirm" class="form-control" /><br>
        <input type="submit" class="btn btn-primary" />
    </div>
    
</form>