@model Shindig
<p> @ViewBag.User.Title</p>
<p>Event Coordinator</p>
<p> @ViewBag.Shindig.PlannerID</p>
<p>Description</p>
<p> @ViewBag.Shindig.Description</p>
<p>Participants</p>
<p> @ViewBag.Shindig.Participants</p>